/* ============== Import Links, fotns =============== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ============== Documents Root Elements =============== */
:root {
    --fonts-s: 12px;
    --fonts-n: 16px;
    --fonts-m: 24px;
    --fonts-l: 32px;
    --fonts-xl: 40px;
    --fonts-xxl: 64px;
    --fonts-h: "Poppins", verdana, sans-serif;
    --fonts-p: "Open Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --white-bg: #fcfcfc;
    --blue: #0C06F7;
    --bright-blue: #0165FC;
    --grayish-blue:  #4A5568;
    --dark-grayish-blue:  #1A202C;
    --pruple: 	#49007B;
    --bright-red: #F76680;
    --pale-navy: #F1F2FF;
    --milky: #E7DAED;
    --cyan-light: #CBD5E0;
    --green-light: #F0FFF7;
    --red-light: #FFF4F4;
    --pastel: linear-gradient(60deg,#F7666F 0%,#406AFF 100%);
    --indigo: linear-gradient(45deg,#49007B 0%, #0165FC 100%);
    --ramp: linear-gradient(to top, #0C06F7 0%, #de439b 66.6%);
    --amber: linear-gradient(30deg,#F16063 0%,#FFC656 100%);
    --corn: linear-gradient(to left, #F7936F 0%,#FFEF5E 100%);
    --magenta: linear-gradient(60deg, 	#49007B 0%,#F76680 100%);
    --magenta-st: linear-gradient(5deg,#49007B 0%,#F76680 100%);
    --purple-lake: linear-gradient(60deg, #E4ECF7 0%,#F1F1F5 100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    color: var(--black);
    font-size: var(--fonts-n);
    font-family: var(--fonts-p);
    font-weight: 500;
    overflow-x: hidden;
    background-color: var(--white-bg);
    -webkit-margin-collapse: collapse;
    z-index: 0;
}
/* ============= Basic Css concepts =============== */
.flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fluid-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}
.grid-item {
    width: 100%;
    height: initial;
    grid-area: 1/2 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc-h-box {
    margin: 5rem auto;
    flex-direction: column;
}
.sc-h {
    color: var(--dark-grayish-blue);
    font-size: 50px;
    font-family: var(--fonts-h);
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}
.sc-h b {
    font-size: 42px;
}
.grad-ln-box{
    width: 200px;
    height: 8px;
    margin: 1.5rem 0;
    background: var(--magenta-st);
}
.ellipse {
    width: 72px;
    height: 72px;
    border: 0;
    border-radius: 50%;
    background: var(--magenta);
    position: absolute;
    z-index: 1;
}
.heading {
    color: var(--dark-grayish-blue);
    font-size: var(--fonts-l);
    font-family: var(--fonts-h);
    font-weight: 700;
}
.paragraph {
    color: var(--grayish-blue);
    font-size: var(--fonts-m);
    font-family: var(--fonts-p);
    font-weight: 400;
}
.p-magenta {
    font-style: normal;
    font-weight: 700;
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main, section, header, footer {
    z-index: 0;
} 
/* =========== Navigation Section / Nav-Bar =========== */
.nav-menu {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding: 0 5dvw;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 8px 20px 0 rgba(0, 0, 0, 0.09);
}
.nav-hamburger-menu {
    display: none;
}
.brand-logo {
    width: 200px;
    height: 60px;
    border: 0;
    border-radius: .25rem;
    overflow-y: none;
    cursor: pointer;
    box-sizing: border-box;
}
.brand-logo:hover {
    outline: 2px solid var(--milky);
}
.brand-logo .logo {
    width: initial;
    height: 40px;
    margin-right: 10px;
}
.brand-logo a {
    height: 60px;
    line-height: 60px;
    color: var(--grayish-blue);
    font-size: var(--fonts-m);
    font-weight: 500;
    font-family: "Brush Script MT", "cursive";
    text-decoration: none;
    text-align: center;
}
.nav-link-box {
    flex-direction: row;
    justify-content: space-around;
}
.nav-link {
    float: inline-end;
    list-style-type: none;
}
.nav-link a {
    color: var(--grayish-blue);
    font-size: var(--fonts-n);
    font-weight: 500;
    font-family: var(--fonts-h);
    margin: 1rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-link:hover a {
    color: var(--bright-red);
}
.nav-btn {
    height: 44px;
    color: var(--white);
    background-image: var(--indigo);
    padding: .5rem 1.25rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 400ms ease-in;
}
.nav-btn:hover {
    background-image: var(--magenta);
}
.nav-btn a {
    color: var(--white);
    font-size: var(--fonts-m);
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-close-btn {
    display: none;
}
/* =============== Styling header of the page =============== */
.header-page {
    width: 100dvw;
    position: relative;
}
.hero-box {
    width: 80dvw;
    height: initial;
    margin: 5rem auto;
    position: relative;    
    z-index: 2;
}
.hero-txt-box {
    width: 50%;
    height: inherit;
}
.hero-txt {
    width: 100%;
    height: initial;
}
.hero-txt-h {
    color: var(--dark-grayish-blue);
    font-size: var(--fonts-xxl);
    font-family: var(--fonts-h);
    font-weight: 400;
    line-height: 1.5;
}
i.hero-txt-h-ramp {
    font-style: normal;
    font-weight: 700;
    background: var(--ramp);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-txt-p {
    color: var(--grayish-blue);
    font-size: var(--fonts-m);
    font-family: var(--fonts-p);
    font-weight: 500;
    line-height: 1.5;
    margin: 2.5rem 0;
}
.hero-txt-btn {
    color: var(--white);
    background-color: var(--bright-blue);
    font-size: var(--fonts-m);
    font-weight: 700;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 400ms;
}
.hero-txt-btn:hover {
    background-color: var(--blue);
}
.hero-img-box {
    width: 50%;
}
.hero-img {
    width: 40dvw;
    height: auto;
}
.hero-ellipse {
    bottom: -15%;
    left: 40%;
}
/* ============ Footer Section =========== */
.foot-info-box {
    width: 80dvw;
    height: auto;
    margin: 10rem auto 5rem;
    display: inline-flex;
    box-sizing: content-box;
}
.foot-logo-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3rem;
}
.foot-logo-p {
    line-height: 2;
    margin: 2.5rem 1rem 2.5rem 0;
}
.google-img {
    width: 240px;
    border: 0;
    border-radius: 4px;
}
.google-img:hover {
    outline: 2px solid var(--milky);
}
.foot-links-box {
    width: 20%;
}
.foot-links-h {
    font-size: var(--fonts-m);
    text-align: start;
    text-transform: uppercase;
}
.foot-links-box ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    cursor: pointer;
}
.foot-links-box ul li {
    font-size: var(--fonts-n);
    margin: 1rem auto;
}
.foot-links-box ul li:hover {
    color: var(--bright-red);
}
.foot-cont-box {
    width: 40%;
}
.foot-cont-h{
    font-size: var(--fonts-m);
    text-align: start;
    text-transform: uppercase;
}
.foot-cont-p {
    line-height: 2;
    margin: 2.5rem 0;
}
.foot-social-link-box {
    width: 10%;
    list-style: none;
    justify-content: space-around;
}
.foot-social-link {
    width: 50px;
    height: 50px;
    border: 3px solid var(--black);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.foot-social-link a {
    color: var(--black);
    font-size: var(--fonts-l);
    transition: all 250ms ease-in-out;
}
.foot-social-link:hover {
    border: 3px solid var(--bright-red);
}
.foot-social-link:hover a {
    color: var(--bright-red);
} 
footer .foot-hr {
    width: 100%;
    height: 2px;
    background-color: var(--cyan-light);
}
.foot-CR-box {
    width: 100%;
    height: 60px;
}
.foot-CR-p {
    font-size: var(--fonts-n);
}
/* ============== Services section ============= */
.services {
    width: 100%;
    height: initial;
    border-top: 2px solid #E7DAED;
    border-bottom: 2px solid #E7DAED;
    overflow-x: hidden;
    position: relative;
    background-color: #f9f9ff;
    z-index: 2 !important;
}
.serv-h {
    font-size: var(--fonts-xl);
    text-align: center;
    margin: 5rem auto;
}
.serv-card-box {
    width: 100%;
    height: initial;
    padding: 1.5rem 0;
    display: inline-flex;
}
.serv-card {
    width: 400px;
    height: initial;
    padding: 1.5rem;
    border: 2px solid var(--milky);
    border-radius: .5rem;
    margin: 0 2.5rem;
    background-color: var(--white-bg);
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
.serv-card-img-box {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.serv-card-img-box .serv-card-img {
    width: 40px;
    height: 40px;
    background: transparent;
}
.serv-card-h {
    width: 100%;
    margin: 1.5rem 0;
    font-size: var(--fonts-m);
    text-align: left;
    text-wrap: nowrap;
}
.serv-card p {
    width: fit-content;
    font-size: var(--fonts-n);
    line-height: 1.8;
}
.serv-card-active {
    transform: translateY(50px);
}
.serv-card-active .serv-card-h {
    font-style: normal;
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.serv-foot {
    width: 100%;
    height: 200px;
    position: relative;
}
.serv-btn-box {
    width: auto;
    height: initial;
}
.serv-btn {
    width: 16px;
    height: 16px;
    border: 2px solid var(--milky);
    border-radius: 50%;
    margin: .2rem;
    background: transparent;
    cursor: pointer;
}
.serv-btn.active {
    border: 0;
    background: var(--magenta);
}
.serv-prog-num {
    color: var(--grayish-blue);
    font-size: var(--fonts-m);
}
.serv-prog-bar-box {
    width: 100px;
    height: 5px;
    padding: 0;
    border: 0;
    background-color: #E2E8F0;
    margin: auto .5rem;
}
.serv-prog-bar-indic {
    width: 20px;
    height: 5px;
    background-color: #57007B;
}
.serv-prog-box {
    position: absolute;
    bottom: 50px;
    right: 100px;
}
p.serv-prog-num {
    color: var(--grayish-blue);
    font-size: var(--fonts-n);
    font-family: var(--fonts-p);
    font-weight: 500;
}
/* ============ About Us section ============= */
.about-us {
    position: relative;
}
.ab-art-box {
    width: 80dvw;
    margin: 10rem 0;
    flex-direction: row;
}
.ab-art {
    width: 50%;
    height: initial;
    margin-right: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
}
.ab-art-h {
    font-size: var(--fonts-xl);
    font-weight: 400;
}
.ab-art-p {
    margin: 2.5rem 0 0;
    word-break: keep-all;
    line-height: 1.8;
}
.ab-btn {
    color: #57007B;
    font-size: var(--fonts-m);
    background: transparent;
    width: auto;
    height: auto;
    border: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.ab-btn i {
    font-size: var(--fonts-m);
    margin-left: .5rem;
    transition: all 250ms ease-in-out;
}
.ab-btn:hover {
    color: var(--bright-red);
}
.ab-btn:hover i {
    color: var(--bright-red);
    transform: translateX(1rem);
}
.ab-vid-box {
    width: 50%;
    height: auto;
    margin: 1rem;
}
.ab-vid {
    width: 40dvw;
    height: auto;
}
.ab-ellipse {
    top: -20px;
    left: 10%;
}
/* =============== Panter companies section ============= */
.patnar-companies {
    position: relative;
}
.pat-h-box {
    width: 80dvw;
    left: 0; 
    align-items: flex-start;
    flex-direction: column;
}
.pat-h-box .sc-h {
    width: 100%;
    text-align: left;
}
.banner {
    width: 100%;
    height: auto;
    padding: 2.5rem 0;
    outline: 2px solid var(--milky);
    outline-offset: .5rem;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    background-color: #F7F7FA;
    overflow: hidden;
    z-index: 2;
}
.logo-box {
    width: 100%;
    height: initial;
}
.logo-img-box {
    width: initial;
    height: initial;
    margin: 0 2.5rem;
}
.pat-logo-img {
    width: initial;
    height: 100px;
}
.pat-btn {
    width: 60px;
    height: 60px;
    border: 2px solid var(--pruple);
    border-radius: 50%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.pat-btn i {
    color: var(--pruple);
    font-size: var(--fonts-l);
}
.pat-btn:hover {
    background-color: var(--pruple);
}
.pat-btn:hover i {
    color: var(--white);
}
.pat-btn-I {
    right: 180px;
}
.pat-btn-II {
    right: 100px;
}
.ellipse.pat-ellipse {
    top: 60%;
    left: 57%;
    scale: 1.2;
    z-index: 1;
}
/* ============= Customer reviews section ============= */
.rev-box {
    width: 80dvw;
    height: auto;
    position: relative;
    margin-bottom: 5rem;
    flex-direction: column;
}
.rev-p {
    width: 540px;
    height: auto;
    line-height: 2;
    text-align: center;
}
.rev-q-box {
    width: 40px;
    height: 50px;
    padding: .5rem;
    position: absolute;
}
.rev-q-box-I {
    top: 0;
    left: 20dvw;
}
.rev-q-box-II {
    top: 0;
    right: 20dvw;
}
.rev-q-img {
    width: 16px;
}
.rev-client-box {
    width: 80dvw;
    height: auto;
    margin: 2.5rem auto;
    overflow: hidden;
}
.rev-client-card-box {
    width: initial;
    height: initial;
    padding: 1rem .5rem;
    margin: 0 1rem;
    opacity: .6;
}
.rev-client-card {
    width: 200px;
    height: initial;
    flex-direction: column;
}
img.client-img {
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 50%;
}
.star-box {
    width: 200px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.star-box img {
    width: 30px;
    height: 30px;
}
.client-n {
    width: 100%;
    margin-top: 1rem;
    font-size: var(--fonts-m);
    text-align: center;
}
.client-w {
    width: 100%;
    font-size: var(--fonts-n);
    font-weight: 400;
    text-align: center;
}
.rev-btn {
    width: 60px;
    height: 60px;
    border: 2px solid #57007B;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.rev-btn i {
    color: var(--pruple);
    font-size: var(--fonts-l);
}
.rev-btn:hover {
    background-color: var(--pruple);
}
.rev-btn:hover i {
    color: var(--white);
}
.rev-btn-I {
    top: 35%;
    left: 0;
}
.rev-btn-II {
    top: 35%;
    right: 0;
}
.rev-client-card-box.active {
    opacity: 1;
}
.rev-client-card-box.active .client-n {
    color: #57007B;
}
/* ============= Case Sdudies Section ============== */
.case-studies {
    background-color: #f5f5f5;
    flex-direction: column;
    position: relative;
}
.cs-card-sky {
    background-color: var(--pale-navy);
}
.cs-card-plant {
    background-color: var(--green-light);
}
.cs-card-rose {
    background-color: var(--red-light);
}
.cs-card {
    max-width: 80dvw;
    height: initial;
    margin: 1rem 0;
    border: 1px solid var(--milky);
    border-radius: .8rem 1.5rem 1.5rem .8rem;
    flex-direction: row;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.2),
                -1px 6px 20px rgba(0, 0, 0, 0.19);
}
.cs-card img {
    width: 40dvw;
    height: auto;
    padding: 0;
    margin: 0;
}
.cs-card-art {
    width: 50%;
    height: 34.5dvh;
    padding: 0 3rem;
    margin: 5rem auto;
}
.cs-card-art-h {
    font-size: var(--fonts-m);
    word-break: keep-all;
}
.cs-card-art-p {
    font-size: var(--fonts-n);
    font-weight: 500;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 2;
    margin: 2.5rem 0;
}
.cs-card-art-b {
    font-size: var(--fonts-n);
    font-weight: 700;
    border: 0;
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cs-card-art-b img {
    width: initial;
    height: 16px;
    margin-left: .5rem;
}
.cs-btn {
    font-size: var(--fonts-m);
    font-weight: 700;
    border: 0;
    margin: 5rem auto;
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.cs-btn i {
    font-size: var(--fonts-m);
    margin-left: .5rem;
}
.cs-arr-box {
    width: 200px;
    position: absolute;
}
.cs-arr-box-img {
    width: 200px;
    height: auto;
}
.cs-arr-box-I {
    top: -100px;
    right: 15dvw;
}
.cs-arr-box-II {
    top: -120px;
    left: 15dvw;
    rotate: 117deg;
}
.cs-ellipse {
    scale: .3;
    top: 130px;
    left: 27.5%;
}
/* ================ Blog Section =================== */
.blog {
    width: 100%;
    min-height: 100dvh;
    position: relative;
}
.blog-box {
    width: 80dvw;
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
    z-index: 2;
}
.blog-art-box {
    width: 100%;
    height: initial;
    margin: 3rem 0;
}
.blog-img-box {
    width: 50%;
    height: initial;
    display: inline-flex;
    justify-content: flex-end;
}
.blog-II .blog-img-box   {
    justify-content: flex-start;
}
.blog-img {
    width: auto;
    height: 480px;
}
.blog-art {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.blog-II .blog-art {
    margin-left: 2.5rem;
}
.blog-art-p {
    line-height: 1.75;
    margin-top: 1.5rem;
}
.blog-art-q-box {
    padding-left: 2rem;
    border-left: 6px solid var(--pruple);
    margin: 1.5rem 0;
}
.blog-art-q {
    font-style: italic;
    line-height: 2;
}
.blog-art-prof {
    width: 100%;
    height: initial;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.blog-art-prof-img {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
}
.blog-art-prof-n-box {
    width: 100%;
    height: initial;
    margin-left: 1rem;
}
.blog-art-prof-n {
    font-size: var(--fonts-m);
}
.blog-art-prof-w {
    font-size: var(--fonts-n);
}
i.blog-art-magenta {
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blog-design {
    width: 60dvw;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.ellipse-magenta {
    width: 40px;
    height: 40px;
    position: fixed;
    border: 0;
    border-radius: 50%;
    background: var(--magenta);
}
.ellipse-corn {
    width: 80px;
    height: 80px;
    position: fixed;
    border: 0;
    border-radius: 50%;
    background: var(--corn);
}
.ellipse-I {
    top: 17.5%;
    left: 62.5%;
    scale: .7;
}
.ellipse-II {
    top: 51.5%;
    right: 0;
}
.ellipse-III {
    top: 65.5%;
    left: 0;
    scale: .8;
}
.ellipse-IV {
    bottom: 4.5%;
    right: 30%;
    scale: .5;
}
.ellipse-V {
    top: 36%;
    left: 20%;
    scale: 1.2;
}
.ellipse-VI {
    top: 39.5%;
    right: 10%;
}
.ellipse-VII {
    top: 45%;
    left: 32.5%;
    scale: .8;
}
.ellipse-VIII {
    bottom: 30%;
    right: 15%;
    scale: 1.2;
}
.ellipse-IX {
    bottom: 19%;
    left: 30%;
    scale: .5;
}
.ellipse-X {
    top: 15%;
    left: 0;
    scale: 1.5;
}
/* ============ development approch section ============ */
.development-approch {
    background-color: #f5f5f5;
}
.dev-card-box {
    width: 80dvw;
    height: auto;
    padding: 3rem;
    margin-bottom: 5rem;
}
.dev-card {
    cursor: pointer;
    width: 660px;
    max-height: 400px;
    padding: 2.5rem;
    border: 1px solid var(--milky);
    outline: 0;
    background-color: var(--white-bg);
    transition: all 250ms linear;
}
.dev-card:hover {
    outline: 4px solid var(--milky);
}
.dev-card-img-box {
    width: 80px;
    height: 100%;
}
.dev-card-img-grad {
    width: 60px;
    height: 60px;
    padding: 1rem;
    border: 0;
    border-radius: .5rem;
}
.dev-card-img {
    width: 40px;
    height: 40px;
}
.dev-card-dtl {
    width: calc(100% - 80px);
    float: right;
}
.dev-card-dtl h3 {
    font-size: var(--fonts-m);
}
.dev-card-dtl p {
    font-size: var(--fonts-n);
    line-height: 2;
    margin-top: 1rem;
    word-break: keep-all;
}
.dev-card-img-rocket {
    background-image: linear-gradient(45deg, #29272E 0%, #27272E 100%);
}
.dev-card-img-code {
    background-image: linear-gradient(45deg,#509CF5 0%,  #68DBF2 100%);
}
.dev-card-img-heart {
    background-image: linear-gradient(45deg,#FF3D9A 3%,  #FF92AE 100%);
}
.dev-card-img-sheild {
    background-image: linear-gradient(45deg,#24E795 0%,  #67E9F1 100%);
}
.dev-card-img-success {
    background-image: linear-gradient(45deg,#F7936F 0%,  #FFEF5E 100%);
}
.dev-card-img-padlock {
    background-image: linear-gradient(45deg,#57007B 0%,  #F76680 100%);
}
i.dev-card-dtl-p-styl-rocket {
    background: linear-gradient(45deg, #29272E 0%, #27272E 100%);
}
i.dev-card-dtl-p-styl-code {
    background: linear-gradient(45deg,#509CF5 0%,  #68DBF2 100%);
}
i.dev-card-dtl-p-styl-heart {
    background: linear-gradient(45deg,#FF3D9A 3%,  #FF92AE 100%);
}
i.dev-card-dtl-p-styl-sheild {
    background: linear-gradient(45deg,#24E795 0%,  #67E9F1 100%);
}
i.dev-card-dtl-p-styl-success {
    background: linear-gradient(45deg,#F7936F 0%,  #FFEF5E 100%);
}
i.dev-card-dtl-p-styl-padlock {
    background: linear-gradient(45deg,#57007B 0%,  #F76680 100%);
}
i.dev-card-dtl-p-styl {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ============ Tech stack section ============= */
.ts-nav-link-box {
    width: 60dvw;
    list-style-type: none;
}
.ts-nav-link-box li {
    color: var(--dark-grayish-blue);
    font-size: var(--fonts-m);
    font-family: var(--fonts-h);
    font-weight: 700;
    margin: 0 1.5rem;
    cursor: pointer;
}
.ts-nav-link-box .active {
    box-sizing: content-box;
    padding-bottom: .5rem;
    border-bottom: 6px solid var(--pruple);
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ts-comp-box {
    width: 80dvw;
    min-height: 60dvh;
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-flow: row wrap;
}
.ts-comp {
    width: 200px;
    height: 200px;
    padding: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ts-comp:hover {
    outline: 2px solid var(--milky);
}
.ts-comp .ts-comp-img {
    width: 200px;
}
.ts-comp .ts-comp-img.go-logo {
    width: auto;
    height: 10dvh;
}
/* ============ Our work section ============= */
.wrk-box {
    width: 80dvw;
    height: initial;
    margin-bottom: 2.5rem;
    flex-direction: row;
    overflow: hidden;
}
.wrk-cont-box {
    width: 100%;
    height: initial;
    float: left;
}
.wrk-cont-card-box {
    width: 100%;
    height: initial;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}
.wrk-cont-card-up-box {
    padding-left: 2rem;
}
.wrk-cont-card-down-box {
    padding-left: 7rem;
}
.wrk-cont-card-info {
    width: 420px;
    height: 180px;
    background-color: var(--white);
    padding: 1.5rem;
    border: 1px solid var(--milky);
    border-radius: .5rem;
    margin-right: 2rem;
}
.wrk-cont-card-info-h {
    font-size: var(--fonts-m);
}
.wrk-cont-card-info-p {
    font-size: var(--fonts-n);
    word-break: keep-all;
    line-height: 1.5;
    margin: 1rem 0;
}
.wrk-cont-ln {
    width: 100%;
    height: initial;
    padding: 0;
    margin: 0;
}
.wrk-cont-ln-up-box {
    justify-content: space-evenly;
    transform: translateX(-100px);
}
.wrk-cont-ln-down-box {
    justify-content: space-evenly;
    transform: translate(20px);
}
.line-y-axis {
    width: 2px;
    height: 30px;
    background: var(--magenta);
}
.line-x-axis {
    width: 100%;
    height: 2px;
    background: var(--magenta); 
}
.wrk-tropy-box {
    width: initial;
}
.wrk-tropy-img {
    width: 60px;
    height: auto;
}
/* ================ Resources section =============== */
.res-card-box {
    width: 100%;
    height: auto;
    padding: 2.5rem 0;
    margin: 2.5rem 0 10rem;
    overflow: hidden;
}
.rs-card {
    width: 240px;
    height: initial;
    border: 1px solid var(--milky);
    border-radius: .5rem;
    background-color: var(--white-bg);
    box-sizing: content-box;
    margin: 0 5rem;
}
.rs-card-img {
    width: 240px;
    height: auto;
    border: 0;
    border-radius: .5rem;
}
.rs-card-p {
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: var(--fonts-n);
    word-break: break-all;
    line-height: 2;
}
.rs-card-btn {
    font-size: var(--fonts-n);
    font-weight: 700;
    border: 0;
    background: var(--magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 1rem 1rem 2rem;
}
.rs-card-btn i {
    font-size: var(--fonts-n);
    margin-left: .5rem;
}
/* ============== Hire section ================ */
.hire-card {
    width: 80dvw;
    height: 40dvh;
    background: var(--purple-lake);
    border: 0;
    border-radius: 1rem;
    margin: 2.5rem auto;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.2),
                -1px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hire-card-h {
    width: 50%;
    font-size: var(--fonts-xl);
    text-align: left;
    word-spacing: 3px;
    margin-left: 5rem;
}
.hire-card-ln {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hire-card-btn-box {
    margin-right: 5rem;
    flex-direction: column;
}
.hire-card-btn {
    color: var(--white);
    font-size: var(--fonts-m);
    font-weight: 700;
    padding: 1rem 2.5rem;
    border: 0;
    border-radius: 4px;
    margin: .75rem auto; 
    background: var(--amber);
    cursor: pointer;
}
.angle-box {
    width: 180px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.angle {
    width: 40px;
    height: 8px;
    border: 0;
    border-radius: 1rem;
    background: var(--corn);
    position: absolute;
}
.angle-one {
    rotate: 130deg;
    right: 0;
}
.angle-two {
    rotate: 90deg;
    left: 70px;
    bottom: 50px;
}
.angle-three {
    rotate: 50deg;
    left: 0;
}
.angle-down {
    rotate: 180deg;
}
/* ============== Media Queries =============== */
@media screen and (max-width: 1080px)  {
    .nav-menu {
        display: none;
    }
    .nav-hamburger-menu {
        display: flex;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: var(--white);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                    0 8px 20px 0 rgba(0, 0, 0, 0.09);
    }
    .nav-hamburger-menu.hide {
        display: none;
    }
    .nav-hamburger-menu .brand-logo {
        scale: .9;
    }
    .nav-ham-btn {
        background: transparent;
        position: absolute;
        border: 0;
        left: 2.5rem;
        cursor: pointer;
    }
    .nav-ham-btn:hover i {
        color: var(--bright-red);
    }
    .nav-ham-btn i {
        color: var(--pruple);
        font-size: var(--fonts-xl);
    }
    .nav-menu.show {
        display: flex;
        width: 60%;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        animation: verticalNav 500ms ease-in-out 100ms both;
    }
    .nav-link-box {
        width: 100%;
        margin: 2.5rem 0;
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        margin: 1rem;
        text-align: center;
    }
    .nav-close-btn {
        cursor: pointer;
        display: block;
        border: 0;
        position: fixed;
        top: 2.5rem;
        left: 2.5rem;
        background: transparent;
    }
    .nav-close-btn i {
        color: var(--pruple);
        font-size: var(--fonts-xl);
    }
    .nav-close-btn:hover i {
        color: var(--bright-red);
    }
}
@media screen and (min-width: 1081px) and (max-width: 1306px) {
    :root {
        --fonts-m: 24px;
        --fonts-l: 28px;
        --fonts-xl: 36px;
        --fonts-xxl: 48px;
    }
    .nav-link a {
        font-size: var(--fonts-s);
    }
    .nav-btn a {
        font-size: var(--fonts-n);
    }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
    :root {
        --fonts-m: 20px;
        --fonts-l: 24px;
        --fonts-xl: 32px;
        --fonts-xxl: 40px;
    }
    .ab-art-box {
        width: 100%;
        margin: 5rem 2.5rem;
        flex-direction: column;
    }
    .ab-art {
        width: 80%;
        margin-right: 0;
    }
    .ab-vid-box {
        width: 80%;
    }
    .ab-vid {
        width: 100%;
    }
    .pat-btn-I {
        right: 90px;
    }
    .pat-btn-II {
        right: 20px;
    }
    .rev-q-box-I {
        top: 0;
        left: calc(50% - 300px);
    }
    .rev-q-box-II {
        top: 0;
        right: calc(50% - 300px);
    }
    .cs-card {
        width: 90%;
        flex-direction: column;
    }
    .cs-card img {
        width: 100%;
    }
    .cs-card-art {
        width: 100%;
    }
    .blog-box {
        width: 90%;
        padding: 0;
    }
    .blog-art-box {
        width: 90%;
        margin: 2.5rem 0;
        flex-direction: column;
    }
    .blog-art {
        width: 100%;
        margin: 2.5rem 0;
    }
    .blog-img-box {
        width: 100%;
        margin: 0;
    }
    .blog-img {
        width: 100%;
        height: auto;
    }
    .grid-box {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .hire-card {
        width: 90%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    :root {
        --fonts-m: 20px;
        --fonts-l: 24px;
        --fonts-xl: 28px;
        --fonts-xxl: 36px;
    }
}